[Unit]
Description=Agent-based installer preparation service
Wants=network.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pre-install.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
