[Unit]
Description=Local Registry
Wants=network.target

[Service]
ExecStart=/usr/local/bin/start-local-registry.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
