[Unit]
Description=Local Registry
Wants=network.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/assisted/registry.env
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStartPre=/usr/local/bin/setup-local-registry.sh
ExecStart=/usr/local/bin/start-registry.sh
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

Restart=on-failure
RestartSec=10
TimeoutStartSec=9000
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
