[Unit]
Description=Service for setting user core password

[Service]
Environment=CORE_PASS_HASH={{.CorePassHash}}
ExecStart=/usr/sbin/usermod --password $CORE_PASS_HASH core
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
