[Unit]
Description=Local Registry for Upgrade
Wants=network.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/assisted/registry.env
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStartPre=/usr/local/bin/setup-local-registry-upgrade.sh %I
ExecStart=podman run --net host --cidfile=%t/%n.ctr-id --privileged --replace --log-driver=journald --name=registry_upgrade -p 5001:5000 -p 5444:5000 -v ${REGISTRY_UPGRADE}:/var/lib/registry -e REGISTRY_HTTP_ADDR=0.0.0.0:5000 $REGISTRY_IMAGE
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

Restart=on-failure
RestartSec=10
TimeoutStartSec=500
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
