[Unit]
Description=Stop local registry service
Wants=network.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/stop-local-registry.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
