kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
archiveSize: 8
mirror:
  platform:
    release: {{.ReleaseImage}}
{{if .AdditionalImages}}  additionalImages:
{{.AdditionalImages}}{{end}}
{{if .BlockedImages}}  blockedImages:
{{.BlockedImages}}{{end}}
{{if .Operators}}  operators:
{{.Operators}}{{end}}
