kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
archiveSize: 8
storageConfig:
  local:
    path: metadata
mirror:
  platform:
    architectures:
      - "{{.Architectures}}"
    channels:
      - name: {{.ChannelName}}
        minVersion: {{.MinVersion}}
        maxVersion: {{.MaxVersion}}
        type: ocp
  additionalImages:
    - name: registry.redhat.io/ubi8/ubi:latest
  blockedImages:
{{.BlockedImages}}
