apiVersion: machineconfiguration.openshift.io/v1
kind: PinnedImageSet
metadata:
  name: {{.Role}}-pinned-image-set
  labels:
    machineconfiguration.openshift.io/role: {{.Role}}
spec:
  pinnedImages:
{{.Images}}
